<!doctype html>
<html>
<head>
    <!-- ... -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/css/index.css" rel="stylesheet">
</head>
<body>
    <!-- main content -->
    <div class="min-h-screen flex flex-col items-center bg-gray-300">
        {{template "content" .}}
    </div>
</body>
<script type="text/javascript" src="/assets/js/index.js"></script>
</html>